<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to Domain-Driven Design Blog</h1>
            <p class="lead mb-0">A Bootstrap 5 blog</p>
        </div>
    </div>
</header>
